{% assign lang = site.data.language.cusdis_lang | default: "en" %}
{% assign lang_data = site.data.language[lang] %}
<div class="comments" id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="{% if site.comments.cusdis_app_id %}{{ site.comments.cusdis_app_id }}{% else %}{{ site.cusdis_app_id }}{% endif %}"
  data-page-id="{{ page.relative_path }}"
  data-page-url="{{ page.url }}"
  data-page-title="{{ page.title }}"
  data-theme="{{ site.color_theme }}"
></div>

{% if lang %}
<script defer src="https://cusdis.com/js/widget/lang/{{ lang }}.js"></script>
{% endif %}
<script async src="https://cusdis.com/js/cusdis.es.js"></script>
