{% assign lang = site.data.language.cusdis_lang | default: "en" %}
{% assign lang_data = site.data.language[lang] %}
{% if site.data.social.rss or site.theme_settings.rss %}
<li>
    <a feed.xml href="{{ site.data.social.feed.path | default: 'feed.xml' | relative_url }}"
       title="{{ lang_data.str_rss_follow | default: 'Follow RSS feed' }}"
       target="_blank">
        <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</li>
{% endif %}

{% for item in site.data.social.footer %}
  {% assign key = item[0] %}
  {% assign value = item[1] %}
  {% if value %}    
    {% assign info = site.data.info[key] %}
    {% assign builder = site.data.builder[key] %}
    {% if builder.icon == nil %}
        {% assign icon = "fab fa-" | append: key %}
    {% else %}
        {% assign icon = builder.icon %}
    {% endif %}
    {% if builder.label %}
      {% assign label = builder.label %}
    {% else %}
      {% assign label = key | capitalize %}
    {% endif %}
    {% if builder.action == "follow" %}
        {% assign action_str = lang_data.str_follow_on %}
    {% elsif builder.action == "contact" %}
        {% assign action_str = lang_data.str_contact %}
    {% else %}
        {% assign action_str = "" %}
    {% endif %}
    <li>
      <a href="{{ builder.pre | append: info | append: builder.pos }}"
         title="{{ action_str }} {{ label }}"
         target="_blank"
         rel="me">
        <span class="fa-stack fa-lg">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="{{ icon }} fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
  {% endif %}
{% endfor %}

